<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Gestion</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/index.css">
</head>

<body>
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-center">
        <li><img class="logo" src="imagenes/logo.png" /></li>
        <li><a href="aplicacion.html">Aplicación</a></li>
        <li><a href="historial.html">Historial</a></li>
        <li><a href="gestion.html">Gestion</a></li>
        <li><a href="" id="cerrarSesion">Cerrar Sesión</a></li>
      </ul>
    </div>
  </nav>

  <div ng-app="myApp" ng-controller="loadGestion" id="div-table-zonas">

    <table class="table table-hover">
      <thead>
        <tr id="table-zonas">
          <th scope="col">Nombre</th>
          <th scope="col">Coordenadas X</th>
          <th scope="col">Coordenadas Y</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="color-2" ng-repeat="zona in datosZonas">
          <td><span>{{zona.nombreZona}}</span><input type="text"></td>
          <td><span>{{zona.coordenadaXZona}}</span><input type="text"></td>
          <td><span>{{zona.coordenadaYZona}}</span><input type="text"></td>
          <td>
            <a href=""><img src="imagenes/editar.png" width="35px" alt="Editar" title="Editar registro"></a>
            <a href=""><img src="imagenes/enviar.png" width="35px" alt="enviar" title="Editar registro"></a>
            <a href=""><img src="imagenes/guardar.png" width="35px" alt="guardar" title="Editar registro"></a>
            <a href=""><img src="imagenes/eliminar.png" width="35px" alt="eliminar" title="Editar registro"></a>
          </td>
        </tr>
      </tbody>
    </table>

    <table id="tabla-usuarios" class="table table-hover">
      <thead>
        <tr id="table-zonas">
          <th scope="col">Nombre</th>
          <th scope="col">Pass</th>
          <th scope="col">Admin</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="color-2" ng-repeat="usuario in datosUsuarios">
          <td><span>{{usuario.user}}</span><input ng-model="usuario.user" type="text"></td>
          <td><span>{{usuario.pass}}</span><input ng-model="usuario.pass" type="text"></td>
          <td><span>{{usuario.admin}}</span><input ng-model="usuario.admin" type="text"></td>
          <td>
            <a><img src="imagenes/editar.png" ng-click="activarEdicionRegistroUsuarios($index)" width="35px"
                alt="Editar" title="Editar registro"></a>
            <a href=""><img src="imagenes/enviar.png" width="35px" alt="enviar" title="Editar registro"></a>
            <a href=""><img src="imagenes/guardar.png" width="35px" alt="guardar" title="Editar registro"></a>
            <a><img src="imagenes/eliminar.png" ng-click="deleteRegistroUsuario($index)" width="35px" alt="eliminar"
                title="Editar registro"></a>
          </td>
        </tr>
        <tr>
          <td><span></span><input type="text"></td>
          <td><span></span><input type="text"></td>
          <td><span></span><input type="text"></td>
          <td>
            <!-- <a><img src="imagenes/editar.png" ng-click="activarEdicionRegistroUsuarios($index)" width="35px"
                alt="Editar" title="Editar registro"></a> -->
            <a href=""><img src="imagenes/enviar.png" width="35px" alt="enviar" title="Editar registro"></a>
            <!-- <a href=""><img src="imagenes/guardar.png" width="35px" alt="guardar" title="Editar registro"></a>
            <a><img src="imagenes/eliminar.png" ng-click="deleteRegistroUsuario($index)" width="35px" alt="eliminar"
                title="Editar registro"></a> -->
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <script src="./js/gestion.js"></script>
  <script src="./js/cerrarSesion.js"></script>
</body>

</html>